.loader {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 2em
}
.loader:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #61dafb;
    animation: loading 8s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}